* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
border: 1px solid red;
display: flex;
flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.text{
    border: 1px solid blue;
}
.inputs{
border: 1px solid black;

}
.style_inputs input {
  
}
.style_inputs i,.style_inputs small{
    visibility: hidden; /*nao aparecer nenhum icon*/
}

.success input{
    border:  2px solid #4ECA64;
}

.success i {
    visibility: visible;
}

.error input{
    border: 2px solid #DB5A5A;
}

.error i,.error small{
    visibility: visible;
    color: #DB5A5A;
}
